<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.tju.elm.mappers.AddressMapper">

    <insert id="addAddress" useGeneratedKeys="true" keyProperty="id">
        insert into delivery_address(
            create_time,
            creator,
            is_deleted,
            update_time,
            updater,
            address,
            contact_name,
            contact_sex,
            contact_tel,
            user_id
        ) values (
            #{createTime},
            #{creator},
            #{deleted},
            #{updateTime},
            #{updater},
            #{address},
            #{contactName},
            #{contactSex},
            #{contactTel},
            #{customer.id}
        )
    </insert>

    <select id="getAddressDtoByid" resultType="cn.edu.tju.elm.dto.AddressDto">
        select * from delivery_address where id = #{addressId}
    </select>

</mapper>